In [3]:
#Train model for house prediction using multi variate linear regression

In [4]:
#importing modules
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load the data 
df = pd.read_excel('Book 7.xlsx') #if you have csv file so use pd.read_csv('book7.csv') it is excel file so i use read_excel
df.head() # It prints first few lines of datasets

   area  bedroom  age  bathroom   price
0  2500      2.0   10         1   40000
1  3700      4.0    5         3   80000
2  3000      2.0   16         2   48000
3  2900      NaN    2         1   39000
4  5000      6.0    1         2  120000

In [ ]:
# some values in bedroom are nan/missing so we are not use this in your model so how to use that
# first method drop that columns using dropna method  
#df1 = df.dropna()#they drop that columns which have nan values but it's not good method because sometimes they drop valuable columns means they have much information
#df1.head()

In [ ]:
df.columns #check your columns

Index(['area', 'bedroom', 'age', 'bathroom', 'price'], dtype='object')

In [ ]:
df.shape #check how many rows and columns they are very very small datasets in later we work on big datasets more than thousand rows and column

(14, 5)

In [ ]:
#second method fill the drop values which the help of fillna method
df.bedroom = df.bedroom.fillna(df.bedroom.median()) #we fill the nan value with median value you can use mean and mode
df.head()

   area  bedroom  age  bathroom   price
0  2500      2.0   10         1   40000
1  3700      4.0    5         3   80000
2  3000      2.0   16         2   48000
3  2900      5.0    2         1   39000
4  5000      6.0    1         2  120000

In [ ]:
x = df[['area','bedroom','age','bathroom']]
y=df['price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, train_size=0.8, random_state=0)

In [ ]:
#train the model
from sklearn.linear_model import LinearRegression
my_model = LinearRegression()
my_model.fit(x_train, y_train)
my_model.predict(x_test)

array([ 79668.84424049,  44032.37002709, 117310.25777372])

In [ ]:
my_model.predict([[4000,3,5,1]]) #predict price for 4000sqft area and 3bedrooms and 5 year old and 1 bathroom

array([86018.62999155])

In [ ]:
my_model.coef_

array([   32.69220009, -2671.1041587 , -1327.72283984,  1301.84881334])

In [ ]:
my_model.intercept_

-31400.092488786802

In [ ]:
import pickle

pickle.dump(my_model,open('model1.pkl','wb'))
model1 = pickle.load(open('model1.pkl','rb'))

print(model1.predict([[2000, 2, 6,7]]))

[29788.70401929]